<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div>
  <div class="body-item">
    <div class="row d-flex justify-content-center w-100" style="padding: 100px 0px 120px 0px">
      <div class="">
        <img src="{{ImgSlide}}" height="409px" width="838px">
      </div>
      <div class="d-flex ml-5 flex-column">
        <div *ngFor="let imgSlide of dataImgSlide">
          <div  *ngIf="imgSlide.id > 1">
            <img src="{{imgSlide.img}}" style="margin-bottom: 17px" width="250px" height="125px">
          </div>
        </div>
      </div>
    </div>
    <div style="margin: 0px 250px 0px 300px">
      <div>
        <div class="d-flex justify-content-between pt-3 px-5" style="background-color: #9FD16D">
          <p>FLASH SALE</p>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <mdb-carousel class="carousel slide carousel-fade my-4 d-flex" [animation]="'fade'">
          <mdb-carousel-item class="d-flex justify-content-between">
            <div *ngFor="let bookSale of dataBookSale">
              <div *ngIf="bookSale.id < 6" class="d-flex flex-column  mx-5">
                <img src="{{bookSale.img}}" class="img">
                <span class="my-3">{{bookSale.name}}</span>
                <div class="d-flex">
                  <p class="price">{{bookSale.salePrice}} đ</p>
                  <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                </div>
              </div>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item class="d-flex justify-content-between">
            <div *ngFor="let bookSale of dataBookSale">
              <div *ngIf="bookSale.id < 11 && bookSale.id >5" class="d-flex flex-column pr-2 mx-5">
                <img src="{{bookSale.img}}" class="img">
                <span class="my-3">{{bookSale.name}}</span>
                <div class="d-flex">
                  <p class="price">{{bookSale.salePrice}} đ</p>
                  <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                </div>
              </div>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item class="d-flex justify-content-between">
            <div *ngFor="let bookSale of dataBookSale">
              <div *ngIf="bookSale.id > 10" class="d-flex flex-column mx-5">
                <img src="{{bookSale.img}}" class="img">
                <span class="my-3">{{bookSale.name}}</span>
                <div class="d-flex">
                  <p class="price">{{bookSale.salePrice}} đ</p>
                  <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                </div>
              </div>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div>
        <div class="d-flex justify-content-between pt-3 px-5" style="background-color: #5DC5CC">
          <p>SÁCH BÁN CHẠY</p>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <div class="d-flex my-5 mx-5">
          <div class="mr-5 pr-5">
            <img src="{{BestBook}}" height="650" width="415">
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex">
              <div *ngFor="let bestBook of dataBestBook">
                <div class="d-flex flex-column mx-4" *ngIf="bestBook.id > 1 && bestBook.id < 5">
                  <img src="{{bestBook.img}}" class="img">
                  <span class="my-3">{{bestBook.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bestBook.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bestBook.price}} đ</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div *ngFor="let bestBook of dataBestBook">
                <div class="d-flex flex-column mx-4" *ngIf="bestBook.id > 4">
                  <img src="{{bestBook.img}}" class="img">
                  <span class="my-3">{{bestBook.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bestBook.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bestBook.price}} đ</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex justify-content-between pt-3 px-5" style="background-color: #F57224">
            <p>SÁCH TRONG NƯỚC</p>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
          <mdb-carousel class="carousel slide carousel-fade my-4 d-flex" [animation]="'fade'">
            <mdb-carousel-item class="d-flex justify-content-between">
              <div *ngFor="let bookSale of dataBookSale">
                <div *ngIf="bookSale.id < 6" class="d-flex flex-column mx-5">
                  <img src="{{bookSale.img}}" class="img">
                  <span class="my-3">{{bookSale.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bookSale.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item class="d-flex justify-content-between">
              <div *ngFor="let bookSale of dataBookSale">
                <div *ngIf="bookSale.id < 11 && bookSale.id >5" class="d-flex flex-column pr-2 mx-5">
                  <img src="{{bookSale.img}}" class="img">
                  <span class="my-3">{{bookSale.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bookSale.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item class="d-flex justify-content-between">
              <div *ngFor="let bookSale of dataBookSale">
                <div *ngIf="bookSale.id > 10" class="d-flex flex-column mx-5">
                  <img src="{{bookSale.img}}" class="img">
                  <span class="my-3">{{bookSale.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bookSale.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
      </div>
      <div style="background-color: #5DC5CC; padding: 0 300px" class="mb-5 d-flex justify-content-between">
        <img src="https://andrews.phenikaa-uni.edu.vn/wp-content/uploads/business-books_bbaandrewsphenikaa.jpeg" width="15%" alt="">
        <p class="p-4 title ">Sự Đọc Sách Đối Với Trí Tuệ
          Giống Như Sự Vận Động Đối Với Cơ Thể</p>
      </div>
      <div class="pt-5">
        <div>
          <div class="d-flex justify-content-between pt-3 px-5" style="background-color: #FCED66">
            <p>SÁCH NƯỚC NGOÀI</p>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
          <mdb-carousel class="carousel slide carousel-fade my-4 d-flex" [animation]="'fade'">
            <mdb-carousel-item class="d-flex justify-content-between">
              <div *ngFor="let bookSale of dataBookSale">
                <div *ngIf="bookSale.id < 6" class="d-flex flex-column mx-5">
                  <img src="{{bookSale.img}}" class="img">
                  <span class="my-3">{{bookSale.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bookSale.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item class="d-flex justify-content-between">
              <div *ngFor="let bookSale of dataBookSale">
                <div *ngIf="bookSale.id < 11 && bookSale.id >5" class="d-flex flex-column pr-2 mx-5">
                  <img src="{{bookSale.img}}" class="img">
                  <span class="my-3">{{bookSale.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bookSale.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item class="d-flex justify-content-between">
              <div *ngFor="let bookSale of dataBookSale">
                <div *ngIf="bookSale.id > 10" class="d-flex flex-column mx-5">
                  <img src="{{bookSale.img}}" class="img">
                  <span class="my-3">{{bookSale.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bookSale.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
        <div>
          <div class="d-flex justify-content-between pt-3 px-5" style="background-color: rgba(0, 0, 0, 0.25);">
            <p>PHIÊN CHỢ CŨ</p>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
          <mdb-carousel class="carousel slide carousel-fade my-4 d-flex" [animation]="'fade'">
            <mdb-carousel-item class="d-flex justify-content-between">
              <div *ngFor="let bookSale of dataBookSale">
                <div *ngIf="bookSale.id < 6" class="d-flex flex-column mx-5">
                  <img src="{{bookSale.img}}" class="img">
                  <span class="my-3">{{bookSale.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bookSale.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item class="d-flex justify-content-between">
              <div *ngFor="let bookSale of dataBookSale">
                <div *ngIf="bookSale.id < 11 && bookSale.id >5" class="d-flex flex-column pr-2 mx-5">
                  <img src="{{bookSale.img}}" class="img">
                  <span class="my-3">{{bookSale.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bookSale.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item class="d-flex justify-content-between">
              <div *ngFor="let bookSale of dataBookSale">
                <div *ngIf="bookSale.id > 10" class="d-flex flex-column mx-5">
                  <img src="{{bookSale.img}}" class="img">
                  <span class="my-3">{{bookSale.name}}</span>
                  <div class="d-flex">
                    <p class="price">{{bookSale.salePrice}} đ</p>
                    <p class="ml-4 slide-style">{{bookSale.price}} đ</p>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
      </div>
    </div>
  </div>
  <div style="background: #DEFBFD;">
    <div style="margin: 0px 300px" class="py-5">
      <div class="">
        <div class="d-flex justify-content-between pt-3 px-5 mb-5" style="background-color: #16445E">
          <p>REVIEW SÁCH</p>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <div class="d-flex">
          <div>
            <img src="https://store.rodbooks.com/Upload/2019/8/7/top-10-cuon-sach-hay-nhat-ve-tai-chinh-dang-doc-nhat-duoc-cac-nha-dau-tu-pho-wall-binh-chon-trong-nam-nay-hinh-anh-2.jpg" style="border: 20px solid #ffffff" height="380px" width="290x">
          </div>
          <div class="mx-5">
            <div>
              <h1>STEVE JOBS: MỌI THỨ ĐỀU CÓ THỂ</h1>
              <div class="d-flex mb-4">
                <p>Tác giả: </p>
                <p class="mx-4" style="font-weight: 700">Trương Tuyển Cần</p>
              </div>
              <div>
                <p>
                  Cuốn sách Steve Jobs - Mọi Thứ Đều Có Thể sẽ mang đến cho bạn những trải nghiệm mới mẻ,
                  bài học quý báu qua hành trình cuộc đời cũng như những năm tháng sự nghiệp của Steve Jobs,
                  qua đó giúp bạn khám phá câu chuyện thành công thần kỳ của hãng Apple mà Steve Jobs là biểu
                  tượng tiêu biểu cho sự thành công ấy.
                </p>
                <p>
                  Cuốn sách Steve Jobs - Mọi Thứ Đều Có Thể sẽ mang đến cho bạn những trải nghiệm mới mẻ,
                  bài học quý báu qua hành trình cuộc đời cũng như những năm tháng sự nghiệp của Steve Jobs,
                  qua đó giúp bạn khám phá câu chuyện thành công thần kỳ của hãng Apple mà Steve Jobs là biểu
                  tượng tiêu biểu cho sự thành công ấy.
                </p>
              </div>
              <p class="py-2 px-4" style="background-color: #FC4B4B; width: 110px; border-radius: 40px">Đọc tiếp</p>
            </div>
          </div>
          <div class="my-5">
            <span class="px-4 py-4 mr-4" style="color: white; background-color: #FC4B4B; border-radius: 50%; font-size: 32px">9.5</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
